.App {
  text-align: center;
  margin: 0 auto; 
  font-family: 'Montserrat', sans-serif;
}

/* Nav component */

header {
  border-bottom: solid; 
  margin: 0 auto;
  background-color: #DDE5EF;
}

nav ul {
  list-style-type: none;
  padding: 25px;
  margin: 0 auto;
}

nav ul li {
  display: inline;
  margin: 0 50px 0 50px;
  /* border: solid; */
}

nav ul li a {
  text-decoration: none;
}

nav ul li a:link {
  color: black;
}

nav ul li a:visited {
  color: black;
}

nav ul li a:hover {
  text-decoration: underline;
}



/* Landing Page */

.Home .logo-container {
  margin: 0 auto;
}

.Home img {
  height: 450px;
  width: auto; 
}

.Home .about-container {
  width: 75%; 
  margin: 0 auto;
}

.Home .about-container p {
  line-height: 40px;
}

/* Skills/Services */

.services {
  background-color: #DDE5EF;
}

.services h1 {
  margin: 0; 
  padding: 30px;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
} 

.services-container img {
  height: 150px; 
  width: auto; 
  margin: 50px;
}

/* Projects */

#projects h1 {
  margin: 0; 
  padding: 30px;
}

#projects .projects-container img {
  border: solid; 
  border-width: 0.5px;
}

#projects .projects-container p {
  line-height: 30px;
}

/* Contact */

#contact {
  background-color: #DDE5EF;
}

#contact h1 {
  margin: 0; 
  padding: 30px;
}

#contact form {
  text-align: left; 
}

#contact label, #contact input, #contact textarea, #contact button {
  margin: 7px;
  margin-left: 30px;
} 

#contact label, #contact input {
  width: 200px;
}

#contact textarea {
  width: 500px; 
  height: 300px;
}