.App {
  text-align: center;
  margin: 0 auto; 
  font-family: 'Montserrat', sans-serif;
}

/* Nav component */

header {
  border-bottom: solid; 
  margin: 0 auto;
  background-color: #DDE5EF;
}

nav ul {
  list-style-type: none;
  padding: 25px;
  margin: 0 auto;
}

nav ul li {
  display: inline;
  margin: 0 50px 0 50px;
  /* border: solid; */
}

/* Homepage */

.Home .logo-container {
  margin: 0 auto;
}

.Home img {
  height: 450px;
  width: auto; 
}

.Home .about-container {
  width: 75%; 
  margin: 0 auto;
}

.Home .about-container p {
  line-height: 40px;
}

.services {
  background-color: #DDE5EF;
}

.services h1 {
  margin: 0; 
  padding: 30px;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
} 

.services-container img {
  height: 150px; 
  width: auto; 
  margin: 50px;
}
