.App {
  text-align: center;
  /* margin: 0 auto; */
  font-family: 'Montserrat', sans-serif;
}

/* Nav component */

header {
  border-bottom: solid; 
  margin: 0 auto;
  background-color: #DDE5EF;
}

nav ul {
  list-style-type: none;
  padding: 30px;
  margin: 0 auto;
  /* border: solid; */
}

nav ul li {
  display: inline;
  margin: 0 50px 0 50px;
  /* border: solid; */
}

nav ul li a {
  text-decoration: none;
}

nav ul li a svg {
  margin: 0;
} 

nav ul li a:link {
  color: black;
}

nav ul li a:visited {
  color: black;
}

nav ul li a:hover {
  text-decoration: underline;
}



/* Landing Page */

.Home .logo-container {
  margin: 0 auto;
}

.Home img {
  height: 450px;
  width: auto; 
}

.Home .about-container {
  width: 75%; 
  margin: 0 auto;
}

.Home .about-container p {
  line-height: 40px;
}

/* Skills/Services */

.services {
  background-color: #DDE5EF;
}

.services h1 {
  margin: 0; 
  padding: 30px;
}

.services-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; 
  justify-content: space-around;
} 

.services-container img {
  height: 150px; 
  width: auto; 
  margin: 50px;
}

/* Projects */

#projects h1 {
  margin: 0; 
  padding: 30px;
}

#projects .projects-container .project {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 50px;
  border-bottom: solid;
  border-width: 1.5px;
}

#projects .projects-container img {
  border: solid; 
  border-width: 0.5px;
  margin-bottom: 30px;
}

#projects .projects-container p {
  line-height: 30px;
}

#projects .projects-container .project .link {
  margin-bottom: 20px;
}

#projects .projects-container .project .link h5, #projects .projects-container .project .link a {
  display: inline;
}

/*
#projects .projects-container a {
  margin-bottom: 10px;
  display: block;
} */

/* Contact */

#contact {
  background-color: #DDE5EF;
}

#contact h1 {
  margin: 0; 
  padding: 30px;
}

/*
#contact form {
  text-align: left; 
} */

#contact .contact-container {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}

#contact .contact-container form, #contact .contact-container .contact-info { 
  /* width: 100%; */
  text-align: left;
}

#contact .contact-container .contact-info img {
  height: 310px;
  width: auto;
  border: solid;
  border-width: 0.5px;
  margin-top: 10px;
}

#contact label, #contact input, #contact textarea, #contact button {
  margin: 7px;
  /* margin-left: 30px; */
} 

#contact label, #contact input {
  width: 200px;
  height: 20px; 
} 

#contact textarea {
  width: 500px; 
  height: 300px;
}

#contact .contact-container .contact-info div {
  padding: 12px;
}

#contact .contact-container .contact-info div svg, #contact .contact-container .contact-info div h4 {
  display: inline;
}

#contact .contact-container .contact-info div svg {
  margin-right: 8px;
}

/* media query for phone */

@media all and (max-width: 450px) {
  nav ul li {
    display: block;
    margin: 0 auto;
    padding: 13px;
    /* border: solid; */
  }

  .Home {
    margin: 0 auto;
    text-align: center;
    width: 100%;
  }

  .Home .logo-container img {
    height: 300px;
  }

  .Home .about-container {
    width: 80%;
    margin: 0 auto;
  }

  .Home .about-container p {
    line-height: 35px;
  }

  .services-container img {
    margin: 45px;
  }

  #projects .projects-container .project {
    text-align: center;
  }

  #projects .projects-container .project .link {
    margin: 0 auto;
  }

  #projects .projects-container .project .link h5, #projects .projects-container .project .link a {
    display: block;
    margin: 0;
    padding: 5px;
  }

  #projects .projects-container .project .link a {
    overflow-wrap: break-word;
  } 


  #projects .projects-container img {
    height: 120px;
    width: auto;
    margin: 0 auto;
  }

  #projects .projects-container p {
    margin: 0 auto;
    line-height: 35px;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  #contact .contact-container {
    flex-direction: column;
  }

  #contact .contact-container form {
    text-align: center;
  }

  #contact textarea {
    width: 75%;
    height: 350px;
    margin: 0;
    margin-top: 10px;
  }

  #contact label, #contact input, #contact button {
    margin: 10px; 
    margin-left: 0px;
  }

  #contact .contact-container .contact-info {
    /* padding-left: 5px; */
    text-align: center;
    margin: 0 auto;
    width: 70%; 
  } 

  #contact .contact-container .contact-info h4 {
    width: 100%;
    overflow-wrap: break-word;
  }

  #contact .contact-container .contact-info img {
    /* display: none; */
    height: 180px;
    width: auto;
  }

}

/* media query for tablet */

@media all and (min-width: 450px) and (max-width: 1100px) {
  #projects .projects-container img {
    height: 300px;
    width: auto;
    margin: 0 auto;
  }

  #contact .contact-container {
    /* display: flex;
    justify-content: space-around;
    padding-bottom: 10px; */
    flex-direction: column;
  }

  #contact .contact-container form {
    text-align: center;
  }

  #contact .contact-container .contact-info {
    text-align: center;
  }
}